<style>
  .count{
      color: black;
      font-size: 13px;
      font-weight: bold;
  }
</style>
<script type="text/javascript" src="/assets/showSubMenu.js"></script>

<div id="default" style="width: 100%; height: 400px; text-align: center; vertical-align: top;">
    <div class="button child_menu manage_duplicates"   onclick="window.location = '/dc/abandoned_cases'" tag=0>
        <table style="text-align: left;">
          <tr>
            <td rowspan="2">
              <img src="<%= @icoFolder %>" height="60"/> <br />
              <span class="count"><%= @abandoned%></span>
            </td>
            <td style="height: 30px;">
              Abandoned cases
            </td>
          </tr>
          <tr>
            <td style="font-size: 11px; font-style: italic;">
             Abandoned cases
            </td>
          </tr>
        </table>
      </div> 

      <div class="button child_menu manage_duplicates"   onclick="window.location = '/dc/orphaned_cases'" tag=0>
        <table style="text-align: left;">
          <tr>
            <td rowspan="2">
              <img src="<%= @icoFolder %>" height="60"/> <br />
              <span class="count"><%= @orphaned%></span>
            </td>
            <td style="height: 30px;">
              Orphaned 
            </td>
          </tr>
          <tr>
            <td style="font-size: 11px; font-style: italic;">
             Orphaned 
            </td>
          </tr>
        </table>
      </div> 

      <div class="button child_menu manage_duplicates"  onclick="window.location = '/dc/adopted_cases'" tag=0>
        <table style="text-align: left;">
          <tr>
            <td rowspan="2">
              <img src="<%= @icoFolder %>" height="60"/> <br />
              <span class="count"><%= @adopted%></span>
            </td>
            <td style="height: 30px;">
             Adopted Cases
            </td>
          </tr>
          <tr>
            <td style="font-size: 11px; font-style: italic;">
             Adopted Cases
            </td>
          </tr>
        </table>
      </div> 
      
      <div class="button child_menu manage_duplicates"  onclick="" tag=0>
        <table style="text-align: left;">
          <tr>
            <td rowspan="2">
              <img src="<%= @icoFolder %>" height="60"/> <br />
              <span class="count"></span>
            </td>
            <td style="height: 30px;">
             Printed/Dispatched Certificates
            </td>
          </tr>
          <tr>
            <td style="font-size: 11px; font-style: italic;">
             Printed/Dispatched Certificates
            </td>
          </tr>
        </table>
      </div> 
</div>