<%= form_for(@user) do |f| %>

    <fieldset>
      <legend>
        User Details
      </legend>

      <% if @user.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

            <ul>
              <% @user.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <table cellpadding="5" width="90%" style="margin: auto; margin-top: 0px;">
        <tr>
          <td colspan="2">
            &nbsp;
          </td>
          <td>
            <span id='notice' style="font-style: italic; font-size: 0.9em;"></span><br/>
          </td>
        </tr>
        <tr>
          <td align="right">
            <%= f.label :username %>
          </td>
          <td>
            :
          </td>

          <td>
            <% if request.path.match(/new/) %>
		<%= f.text_field  :username, :textCase => "lower",:value => @user_name,:tt_onload =>"$('touchscreenInput5').value = ($('user_first_name').value.substring(0,3)+$('user_last_name').value.substring(0,3)).toLowerCase()" ,:validationRule =>"\\w{6}\\w*" ,:validationMessage => "Username must have at least SIX letters", :textCase => "lower" %>
            <%else %>
            <%= f.text_field :username, :class => "input_cell", :placeholder => "Username", :required => true, :disabled => "disabled", :textCase => "lower"%>
            <% end %>
          </td>

        </tr>

        <tr>
          <td align="right">
             <%= f.label :first_name %>
          </td>
          <td>
            :
          </td>
          <% if request.path.match(/new/) %>
          <td>
            <%= f.text_field :first_name, :class => "input_cell", :placeholder => "First Name", :required => true%>
          </td>
          <%else%>
          <%= f.text_field :first_name, :class => "input_cell", :placeholder => "First Name", :required => true%>
            <%end%>
        </tr>

        <tr>
          <td align="right">
            <%= f.label :last_name %>
          </td>
          <td>
            :
          </td>
          <% if request.path.match(/new/) %>
          <td>
            <%= f.text_field :last_name, :class => "input_cell", :placeholder => "Last Name", :required => true%>
          </td>
          <%else%>
          <%= f.text_field :last_name, :class => "input_cell", :placeholder => "Last Name", :required => true%>
            <%end%>
        </tr>

        </tr>

	<%= f.fields_for :user_role do |i| %>
        <tr>
          <td align="right">
            <%= i.label :role %>
          </td>
          <td>
            :
          </td>
          <td>
            <%= i.select :role, options_for_select(@roles, (@role rescue nil)),
              :class => "input_cell",
              :id => "role",
              :placeholder => "Select Role",
              :required => true %>
          </td>
        </tr>
	  <% end %>

        <% if request.path.match(/new/) %>

            <tr>
              <td align="right">
                <label for="user_password">Password</label>
              </td>
              <td>
                :
              </td>
              <td>
                <%= f.password_field :password,
                                     :class => "input_cell",
                                     :placeholder => "Password",
                                     :required => true,
                                     :textCase => "lower"
                 %>
              </td>
            </tr>

            <tr>
              <td align="right">
                <%= f.label :confirm_password %>
              </td>
              <td>
                :
              </td>
              <td>
                <%= f.password_field :confirm_password, :class => "input_cell", :placeholder => "Confirm the password entered", :required => true, :textCase => "lower"%>
              </td>
            </tr>

        <% else %>
<tr>
              <td align="right">
                <label for="user_password">Password</label>
              </td>
              <td>
                :
              </td>
              <td>
                <%= f.password_field :password, :class => "input_cell", :placeholder => "Password", :optional => true, :textCase => "lower" %>
              </td>
            </tr>

        <% end %>

        <tr>
          <td align="right">
            <%= f.label :email %>
          </td>
          <td>
            :
          </td>
          <td>
            <%= f.email_field :email, :class => "input_cell", :placeholder => "Email Address", :optional => true %>
          </td>
        </tr>

      </table>

    </fieldset>

<% end %>

<!--button id="btnAction" class="blue" style="position: absolute; right: 160px; bottom: 20px;" onclick="submitForm()">
  <%#= request.path.match(/new/) ? "Save" : "Update" %> User
</button-->

<script>

    var timerHnd;

    var good = <%= request.path.match(/new/) ? false : true %>

            function submitForm() {
                if (validateForm() && good) {
                    document.getElementsByTagName('form')[0].submit();
                } else {
                    return false;
                }
            }

    function checkLength(node){
        alert(node.value);
    }
    function validateForm() {

        username = document.getElementById('textForuser_username');
        first_name = document.getElementById('textForuser_first_name');
        last_name = document.getElementById('textForuser_last_name');
        user_role = document.getElementById('textForuser_role_role');
        password = document.getElementById('textForuser_password');
        password_confirm = document.getElementById('textForuser_confirm_password');

        if (username.value == '') {
            showMsg("Please enter username ...");
            return false;
        }
          else if (username.value.length < 3) {
           showMsg("Please username should be atleast four characters...");
            return false;
        }
        else if (first_name.value == '') {
            showMsg("Please enter user first name ...");
            return false;
        }
         else if (first_name.value.length < 3) {
           showMsg("Please first name should be atleast four characters...");
            return false;
        }

        else if (last_name.value == '') {
            showMsg("Please enter user last name ...");
            return false;
        }
         else if (last_name.value.length < 3) {
            showMsg("Please last name should be atleast four characters...");
            return false;
        }

        else if (password.value == '') {
            showMsg("Please password ...");
            return false;
        } else if (password.value.length < 6) {
            showMsg("Please password should be atleast six characters ....");
            return false;
        } else if (password.value != password_confirm.value) {
            showMsg("The two passwords you enter do not match ...");
            return false;
        } else if (user_role.value == '') {
            showMsg("Please select user role ...");
            return false;
        }

        return true;
    }

    var timeSpacing = 500;

    function checkUsername() {

        clearTimeout(timerHnd);

        username = document.getElementById('textForuser_username').value;

        if (username == "Username" || username.trim().length < 3) {
            timerHnd = setTimeout("checkUsername()", timeSpacing);

            return;
        }

        if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari
            xmlhttp = new XMLHttpRequest();
        } else {// code for IE6, IE5
            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {

                timerHnd = setTimeout("checkUsername()", timeSpacing);

                if (results == 'undefined' || results == '' || results == '"not validate"') {
                var results = xmlhttp.responseText;
                    return;
                } else {
                    if (results == 'available') {
                        good = true;

                        document.getElementById('notice').innerHTML = 'Username ' + results;
                        document.getElementById('notice').style.color = 'green';

                        if(document.getElementById('btnAction')) {
                            document.getElementById('btnAction').disabled = false;
                            document.getElementById('btnAction').className = "blue";
                        }
                    } else {
                        good = false;

                        document.getElementById('notice').innerHTML = 'Username ' + results + "!";
                        document.getElementById('notice').style.color = 'red';

                        if(document.getElementById('btnAction')) {
                            document.getElementById('btnAction').disabled = 'disabled';
                            document.getElementById('btnAction').className = "gray";
                        }
                    }
                }
            }
        }
        xmlhttp.open("GET", "/username_availability?search_str=" + username, true);
        xmlhttp.send();

    }

    <% if request.path.match(/new/) %>

     timerHnd = setTimeout("checkUsername()", timeSpacing);

    <% else %>

    if (document.getElementById("textForuser_username")) {

        document.getElementById("textForuser_username").disabled = true;

    }

    <% end %>

    init();

</script>
